* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #000000ce;
  font-family: sans-serif;
}

.content {
  width: 100%;
  height: 100vh;
  position: relative;
}

.slider-container {
  position: absolute;
  max-width: 924px;
  overflow: hidden;
  top: 50%;
  right: 0;
  padding-left: 80px;
  transform: translateY(-50%);
}

.slider {
  display: flex;
  gap: 104px;
  transition: transform 0.7s ease;
}

.slide {
  min-width: 567px;
  height: 363px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid green;
}

/* Фоновые изображения */
.slide1 { background-image: url('../img/slide1-small.png'); }
.slide2 { background-image: url('../img/slide2-small.png'); }
.slide3 { background-image: url('../img/slide3-small.png'); }
.slide4 { background-image: url('../img/slide4-small.png'); }
.slide5 { background-image: url('../img/slide5-small.png'); }
.slide6 { background-image: url('../img/slide6-small.png'); }
.slide7 { background-image: url('../img/slide7-small.png'); }

/* Кнопки навигации */
.button-block {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  gap: 508px;
  pointer-events: none;
}

button {
  pointer-events: auto;
  width: 70px;
  height: 70px;
  background: transparent;
  border: 1.5px solid #153630;
  border-radius: 50%;
  box-shadow: 0 0 106px 0 rgba(46, 236, 197, 0.1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

button:hover {
  width: 90px;
  height: 90px;
  margin: -10px;
}

.ball {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(166deg, #19201f 0%, #323939 100%);
  border: 1.5px solid rgba(46, 236, 197, 0.5);
  box-shadow: 0 0 106px 0 rgba(46, 236, 197, 0.1);
  transition: all 0.3s ease;
}

.ball:hover {
  width: 75px;
  height: 75px;
}