body {
  background: #000000ce;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

.content {
  width: 100%;
  height: 100vh;
}

/* .container {
  position: relative;
  width: 100%;
  height: 100vh;
  max-width: 988px;
  margin: 0 0 auto auto;
} */

/* @media (max-width: 1280px) {
  .container {
    display: none;
  }
  .button-block {
    display: none;
  }

  .contant::before {
    content: "Zoom out please";
    text-transform: uppercase;
    color: red;
    font-family: Arial, sans-serif;
    font-weight: 800;
  }
} */
