.slider-container {
  position: absolute;
  max-width: 924px;
  overflow: hidden;
  top: 50%;
  right: 0;
  padding-left: 80px;
}

.slider {
  display: flex;
  gap: 104px;
}

.slide {
  min-width: 567px;
  height: 363px;
  border: 1px solid green;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.slide1 {
  background-image: url(../img/slide1-small.png);
}
.slide2 {
  background-image: url(../img/slide2-small.png);
}
.slide3 {
  background-image: url(../img/slide3-small.png);
}
.slide4 {
  background-image: url(../img/slide4-small.png);
}
.slide5 {
  background-image: url(../img/slide5-small.png);
}
.slide6 {
  background-image: url(../img/slide6-small.png);
}
.slide7 {
  background-image: url(../img/slide7-small.png);
}


/* @media (max-width: 1280px) {
.slider-container {
  gap: 10px;
}

.slider {
  display: flex;
}

.slide {
  width: 258px;
  height: 153px;

}

.slide1 {
  background-image: url(../img/slide1-small.png);
}
.slide2 {
  background-image: url(../img/slide2-small.png);
}
.slide3 {
  background-image: url(../img/slide3-small.png);
}
.slide4 {
  background-image: url(../img/slide4-small.png);
}
.slide5 {       
  background-image: url(../img/slide5-small.png);
}
.slide6 {
  background-image: url(../img/slide6-small.png);
}
.slide7 {
  background-image: url(../img/slide7-small.png);
}
} */