.slide {
  width: 567px;
  height: 363px;
  border: 1px solid green;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: contain;
}

.slide1 {
  background-image: url(./img/slide1.png);
}
.slide2 {
  background-image: url(./img/slide2.png);
}
.slide3 {
  background-image: url(./img/slide3.png);
}
.slide4 {
  background-image: url(./img/slide4.png);
}
.slide5 {
  background-image: url(./img/slide5.png);
}
.slide6 {
  background-image: url(./img/slide6.png);
}
.slide7 {
  background-image: url(./img/slide7.png);
}
