body {
  background: #000000ce;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

.contant {
  position: relative;
  width: 100%;
  height: 100vh;
  max-width: 1232px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1170px;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100vh;
}

.slider-container {
  display: flex;
  gap: 20px;
}

.slider {
  display: flex;
  gap: 20px;
}

/* .slider > img {
  border: 1px solid green;
  border-radius: 5px;
  max-width: 567px;
} */

.button-block {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  z-index: 10;
  height: 80px;
  align-items: center;
}

button {
  width: 70px;
  height: 70px;
  background: transparent;
  border-radius: 50%;
  border: 1.5px solid #153630;
  box-shadow: 0 0 106px 0 rgba(46, 236, 197, 0.1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  min-width: 80px;
  min-height: 80px;
  padding: 0;
}

.ball {
  min-width: 70px;
  min-height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 106px 0 rgba(46, 236, 197, 0.1);
  background: linear-gradient(166deg, #19201f 0%, #323939 100%);
  border: 1.5px solid rgba(46, 236, 197, 0.5);
  color: rgba(46, 236, 197, 0.5);
}

.ball:hover {
  min-width: 70px;
  min-height: 70px;
}

@media (max-width: 1280px) {
  .container {
    display: none;
  }
  .button-block {
    display: none;
  }

  .contant::before {
    content: "Zoom out please";
    text-transform: uppercase;
    color: red;
    font-family: Arial, sans-serif;
    font-weight: 800;
    /* text-align: center; */
    /* padding: 180px; */
  }
}
