

body {
  background: #000000ce;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
width: 100%;
max-width: 1172px;
overflow: hidden;
margin: 0 auto;
}

.slider-container {
  display: flex;
  gap: 20px;
  /* transition: 0.5s; */
}


.slider {
  display: flex;
  gap: 20px;
}

.slider > img {
    border: 1px solid green;
    border-radius: 5px;
    max-width: 567px;
}

.button-block {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 25px;
}

button {
    min-width: 80px;
    height: 80px;
    background: green;
    border-radius: 100%;
    color: aliceblue;
    border: 1px solid green;
    margin-top: 20px;
    cursor: pointer;
}

.slider::-webkit-scrollbar {
  display: none; /* Скрываем полосу прокрутки */
}